In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

/Users/Sensei/.pyenv/versions/3.9.0/lib/python3.9/site-packages/pandas/compat/__init__.py:97: UserWarning: Could not import the lzma module. Your installed Python is incomplete. Attempting to use lzma compression will result in a RuntimeError.
  warnings.warn(msg)

## Testing

In [13]:
dpath = "data/part1_data"
train_data = pd.read_csv(f"{dpath}/train.csv")
train_data.info()
train_data['Age'].unique()

# TODO impute missing values.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 537 entries, 0 to 536
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   BI-RADS assessment  537 non-null    object
 1   Age                 537 non-null    object
 2   Shape               537 non-null    object
 3   Margin              537 non-null    object
 4   Density             537 non-null    object
 5   Severity            537 non-null    int64
dtypes: int64(1), object(5)
memory usage: 25.3+ KB

array(['46', '64', '71', '42', '63', '40', '54', '66', '51', '52', '60',
       '23', '75', '76', '45', '57', '34', '68', '55', '32', '59', '37',
       '70', '65', '61', '82', '43', '49', '58', '86', '21', '56', '80',
       '31', '77', '73', '53', '74', '87', '30', '35', '44', '67', '62',
       '81', '28', '?', '36', '22', '38', '69', '85', '33', '39', '48',
       '83', '50', '41', '24', '27', '72', '84', '25', '79', '78', '19',
       '93', '47', '96', '20', '88', '26'], dtype=object)